<div>
    <h1>Rybitwy, Kraków</h1>


    <p className="wide-margins">
        Powierzchnia magazynów – 2850 m<sup>2</sup><br/>
        Powierzchnia biur – 1200 m<sup>2</sup><br/>
        Kubatura – 31&nbsp;600<sup>3</sup><br/>
        Wysokość – 11,95 m
    </p>


    <p className="centered">Projektowany od podstaw nowoczesny magazyn składowania przy ul. Bazarowej w Krakowie.<br/>
        Budynek w konstrukcji całkowicie żelbetowej, aktualne stadium projektowe – projekt budowlany.
    </p>
</div>