<div>
    <h1>Sportowa 20, Katowice</h1>
    <h2>Etap I: Przebudowa budynku przemysłowego z częścią socjalną na budynek magazynowy z częścią biurową.</h2>

    <p className="centered">
        Powierzchnia – 750 m<sup>2</sup><br/>
        Kubatura – 6300<sup>3</sup>
    </p>


    <p>Istniejący budynek murowany z ceramiki pełnej na zaprawie wapiennej, zadaszony przekryciem deskowanym z izolacją bitumiczną wspartym na drewnianych kratownicach przestrzennych był w bardzo złym stanie i nie pełnił żadnych funkcji użytkowych.</p>

    <p>W czerwcu roku 2018 nasz projekt przebudowy otrzymał ostateczne pozwolenie na przebudowę. Zakres przebudowy obejmuje wzniesienie nowej konstrukcji wewnątrz starych murów ceramicznych. Jest to konstrukcja w postaci ram złożonych z żelbetowych słupów oraz stalowych naroży i rygli, które przejmują dotychczasowe obciążenia budynku. W końcu czerwca ruszyły prace wyburzeniowe, geodezyjne i ziemne.</p>

    <p>Zaproponowaliśmy minimalistyczne rozwiązania estetyczne: wnętrza będą piaskowane, słupy żelbetowe o wysokiej jakości faktury, elementy stalowe w kolorze naturalnym. Wszystkie przegrody, dotychczas pozbawione izolacji przeciwwilgociowej i termicznej zostały zaprojektowane w pobliżu wymagań właściwych dla standardu NF15. Nowoczesna stolarka aluminiowa oraz ciepła posadzka przemysłowa typu ciężkiego, wytłumione akustycznie ściany z dyli szklanych, stalowe podesty i schody oraz zieleń na ścianach wewnętrznych uzupełniają założenia minimalizmu wnętrz.</p>

    <p>Nasza firma oprócz wykonania projektu pełni na tej budowie funkcję Inwestora Zastępczego.</p>

    <p>Planowany koniec przebudowy: lipiec 2019&nbsp;r.</p>

    <h2>Etap II: Przebudowa i zmiana sposobu użytkowania obiektu na obiekt w całości biurowy.</h2>

    <p>Przebudowa zakłada wstawienie do wnętrza hali magazynowej kaskadowych pięter. Konstrukcja z prefabrykowanych słupów i belek żelbetowych, wypełnienia ścian biur – akrylowe. Dokumentacja projektowa jest aktualnie opracowywana.</p>

    <p>Założenia materiałowe:</p>
    <ol className="wide-margins">
        <li>konstrukcja domów i budynków garażowych/gospodarczych z profili z drewna LSL (laminated strand lumber) - szybkie zestawienie poglądowe</li>
        <li>łączenie konstrukcji - drewniane</li>
        <li>więźba dachowa - wiązary lsl, pokrycie z płyty OSB</li>
        <li>izolacja termiczna z włókien celulozowych (ekofiber lub równoważne) - dotyczy wszystkich przegród: dachu, ścian zewnętrznych i podłogi</li>
        <li>podłoga lekka na legarach lsl, izolacja - wdmuchiwane włókna celulozowe</li>
        <li>lekki fundament na ławach z bloczków lub na ławach rzymskich z kamienia łamanego wiązanego zaprawą</li>
        <li>fasady szklane samonośne</li>
        <li>warstwa wierzchnia pokrycia dachowego – blachodachówka lub gont tradycyjny, łupany</li>
        <li>fasady - dom z ćwierćbala warstwowego, izolowanego (50-100 mm)</li>
    </ol>

    <p>Inwestycja obejmuje przebudowę istniejącego budynku biurowego na budynek socjalno-biurowy. Istniejący budynek powstawał etapowo i stanowi efekt złożenia dwóch budynków.</p>

    <p>Czas powstania tych budynków jest nieznany, jednakże na podstawie oględzin i analizy zastosowanych rozwiązań konstrukcyjnych i budowlanych szacuje się, iż pierwsza część powstała w latach pięćdziesiątych ubiegłego wieku, natomiast druga część na przełomie lat 70-tych i 80-tych ubiegłego wieku. Nie zachowała się żadna dokumentacja budowlana istniejącego obiektu, nie udało się jej odnaleźć również w powiatowym archiwum.</p>

    <p>Przebudowa będzie polegać na wyburzeniu zewnętrznej dobudówki (od strony wschodniej) z zachowaniem znajdującego się w niej biegu schodowego, a także na hydroizolacji i ociepleniu całego budynku, wymianie stolarki okiennej i drzwiowej, wymianie instalacji grzewczej i instalacji wentylacji, wymianie instalacji elektrycznej, przebudowie i wykończeniu wnętrz w taki sposób, iż na parterze w skrzydle wschodnim budynku powstanie węzeł szatni i natrysków dla 48 osób, kobiet i mężczyzn. Jednocześnie pozostałe pomieszczenia na parterze i piętrze zostaną zaaranżowane na nowo z przeznaczeniem na pomieszczenia biurowe i gospodarcze.</p>


</div>