<div>
    <h1>Zestawienie powierzchni zagospodarowania terenu</h1>
<table>
    <tr className="underlined">
        <td>Całkowita powierzchnia działek:</td>
        <td>28&nbsp;590,89 m<sup>2</sup></td>
    </tr>
    <tr>
        <td>Powierzchnia zabudowy kubaturowej istniejącej (bez obiektu do rozbiórki):
        </td>
        <td>393,5<sup>2</sup></td>
    </tr>
    <tr>
        <td>Powierzchnia zabudowy kubaturowej projektowanej:</td>
        <td>397,3 m<sup>2</sup></td>
    </tr>
    <tr>
        <td>Powierzchnia utwardzonych nawierzchni:</td>
        <td>5900 m<sup>2</sup></td>
    </tr>
    <tr>
        <td>Powierzchnia biologicznie czynna:</td>
        <td>22690,89 m<sup>2</sup><br/>(79,3% pow. działki)</td>
    </tr>

</table>
    <p>Uwarunkowania ochrony konserwatorskiej:</p>

    <p>Wg załącznika graficznego do uchwały nr XLII/341/06 Rady Miejskiej w Łazach z dnia 25 października 2006 r. w sprawie miejscowego planu zagospodarowania przestrzennego miasta i gminy Łazy, teren inwestycji leży w strefie B pośredniej ochrony konserwatorskiej.</p>

</div>