//turns off text selection
@mixin no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//sets selection colours
@mixin set-selection {
  ::-moz-selection {
    background: setColor(2);
    color: setColor(10);
  }
  ::selection {
    background: setColor(2);
    color: setColor(10);
  }
}


//sets border radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius !important;
  -moz-border-radius: $radius !important;
  border-radius: $radius !important;
  background-clip: padding-box; /* stops bg color from leaking outside the border: */
}

//gives an element a custom shadow
@mixin shadow {
  box-shadow: 4px 3px 10px setColor(-4);
}

//turns on flex display
@mixin flex {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
}

//sets animation of background colour on hover
@mixin animated-box {

  @keyframes focusOnBox {
    from {
      background-color: setColor(7);
    }

    to {
      background-color: setColor(5);
    }
  }

  &:hover {
    background-color: setColor(5);
    animation-name: focusOnBox;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
  }

  border: 2px solid setColor(0);
  padding: 10px;
  text-align: center;
  margin: 10px;

}


//changes gayscale on image load

@mixin saturate {

  @keyframes saturating {
    from {
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
    }

    to {
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
    }
  }

  animation-name: saturating;
  animation-duration: 6s;
  animation-timing-function: ease;

}

//changes greyscale on hover
@mixin grayscale {

    filter: grayscale(100%) !important;
    -webkit-filter: grayscale(100%) !important;
    z-index: -9999999999999999999999999 !important;
    -webkit-transition: all 0.9s ease-in-out !important;
    -moz-transition: all 0.9s ease-in-out !important;
    -o-transition: all 0.9s ease-in-out !important;
    transition: all 0.9s ease-in-out !important;


  &:hover {
    filter: grayscale(0%) !important;
    -webkit-filter: grayscale(0%) !important;
    z-index: -9999999999999999999999999 !important;
    -webkit-transition: all 0.9s ease-in-out !important;
    -moz-transition: all 0.9s ease-in-out !important;
    -o-transition: all 0.9s ease-in-out !important;
    transition: all 0.9s ease-in-out !important;
  }
}
