// *** THEME COLOUR *** //

$themeColor: #000;

// *** FONTS *** //

$regularFont: 'Lato', sans-serif;
$fancyFont: 'Fugaz One', cursive;


//// *** SCREEN WIDTH BREAKPOINTS *** //
//
//$smallScreen: 480px;
//$mediumScreen: 920px;
//$largeScreen: 1000px;