/*** GENERAL STYLES ***/
html, #root, #app {
  height: 100vh !important;
  position: absolute;
  width: 100% !important; }

#panels {
  height: 100% !important; }

body {
  height: 100%;
  font-style: "Dosis", sans-serif !important;
  background-color: #fff;
  position: relative; }
  body ::-moz-selection {
    background: #333333;
    color: white; }
  body ::selection {
    background: #333333;
    color: white; }

/* highlighting animation */
@keyframes focusOnLink {
  from {
    background-color: #fff; }
  to {
    background-color: #f2f2f2; } }
@keyframes saturate {
  from {
    filter: grayscale(100%); }
  to {
    filter: grayscale(0%); } }
a {
  text-decoration: none !important;
  color: #4d4d4d !important; }
  a:link {
    color: #4d4d4d !important;
    text-decoration: none !important; }
  a:visited {
    color: #4d4d4d !important;
    text-decoration: none !important; }
  a:hover {
    color: #000;
    background-color: #f2f2f2 !important;
    text-decoration: none !important;
    animation-name: focusOnLink;
    animation-duration: 0.8s;
    animation-timing-function: ease-out; }
  a:focus {
    color: #000 !important;
    text-decoration: none !important; }
  a:active {
    color: #000 !important;
    text-decoration: none !important; }

.routerLink {
  text-decoration: none !important; }

.small-text {
  font-size: 80%; }

.activated-link {
  color: #000 !important;
  background-color: #f2f2f2; }

img, Image {
  filter: grayscale(100%) !important;
  -webkit-filter: grayscale(100%) !important;
  z-index: 9999999999999999999999999 !important;
  -webkit-transition: all 0.9s ease-in-out !important;
  -moz-transition: all 0.9s ease-in-out !important;
  -o-transition: all 0.9s ease-in-out !important;
  transition: all 0.9s ease-in-out !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  img:hover, Image:hover {
    filter: grayscale(0%) !important;
    -webkit-filter: grayscale(0%) !important;
    z-index: 9999999999999999999999999 !important;
    -webkit-transition: all 0.9s ease-in-out !important;
    -moz-transition: all 0.9s ease-in-out !important;
    -o-transition: all 0.9s ease-in-out !important;
    transition: all 0.9s ease-in-out !important; }

iframe {
  filter: grayscale(100%) !important;
  -webkit-filter: grayscale(100%) !important;
  z-index: 9999999999999999999999999 !important;
  -webkit-transition: all 0.9s ease-in-out !important;
  -moz-transition: all 0.9s ease-in-out !important;
  -o-transition: all 0.9s ease-in-out !important;
  transition: all 0.9s ease-in-out !important; }
  iframe:hover {
    filter: grayscale(0%) !important;
    -webkit-filter: grayscale(0%) !important;
    z-index: 9999999999999999999999999 !important;
    -webkit-transition: all 0.9s ease-in-out !important;
    -moz-transition: all 0.9s ease-in-out !important;
    -o-transition: all 0.9s ease-in-out !important;
    transition: all 0.9s ease-in-out !important; }
  iframe:focus {
    -webkit-filter: grayscale(0%); }

/*** SPINNER STYLES ***/
.loaderContainer {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: center;
  justify-content: center;
  height: 100vh; }

.displayNone {
  display: none !important; }

/*** SECTION-SPECIFIC STYLES ***/
/* NAVBAR */
#nav-links {
  margin-bottom: 20px; }

.nav-section-name {
  padding: 10px 15px;
  color: #666666;
  font-size: 80%;
  margin-top: 20px; }

/* link */
.navbar-default .navbar-nav > li > a {
  color: #333333; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000;
  background-color: #fff; }

/* mobile version */
.navbar-default .navbar-toggle {
  border-color: #666666; }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #666666; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333333; }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000; }

  #menu-panel {
    display: none; } }
@media (min-width: 768px) {
  #top-navbar {
    display: none; } }
#top-navbar {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000 !important;
  background-color: #fff !important;
  text-align: right; }

/* MAIN CONTAINER */
#main-container {
  height: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;
  padding: 0 !important; }

/* Menu panel */
#menu-panel {
  height: 100%;
  min-width: 180px;
  font-size: 110%;
  overflow-y: auto !important;
  overflow-x: hidden;
  text-align: center; }

#main-logo {
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: -15px;
  width: 150px; }

#menu-panel-text {
  text-align: left;
  display: inline-block; }

#links {
  margin: 40px 0; }

#footer {
  font-size: 100% !important; }

.section-name {
  color: #666666;
  font-size: 80%;
  margin-top: 20px; }

/* MAIN PANEL */
#main-panel {
  height: 100vh !important;
  overflow: hidden;
  padding: 60px 0 20px 0; }

#splash-screen {
  background-size: cover;
  background-position: center center;
  background-image: url("/public/images/background.jpg");
  height: 100%;
  overflow: hidden; }

#main-panel-container {
  height: 90% !important;
  width: 100% !important;
  position: relative;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important; }

#main-panel-footer {
  height: 10%;
  width: 100%;
  padding-top: 0 !important;
  margin-top: 0 !important; }

.pager {
  margin: 10px 15px !important; }

/* VIEWS */
.view-content {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 !important; }

#title-box {
  text-align: center;
  padding: 20px;
  position: relative;
  margin: auto;
  line-height: 1.5em; }

#title {
  font-size: 5vmax; }

#subtitle {
  font-size: 1.5vmax;
  padding-left: 30%; }

.view-content img {
  max-width: 95%;
  max-height: 95%;
  margin: auto !important;
  display: block;
  position: relative; }

.video-wrapper {
  width: 100%;
  position: relative;
  margin: auto; }

.iframe-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -28.1%;
  /* video height / video width */
  padding-bottom: 56.2%;
  height: 0;
  overflow: hidden; }

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 25px; }

/* Text pages */
.text-note {
  border: 4px dashed setColor(6.5);
  max-height: 95%; }

/* Pagers */
.pager li > a, .pager li > span {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/*# sourceMappingURL=main.css.map */
