@import "variables";
@import "functions";
@import "mixins";

/*** GENERAL STYLES ***/

html, #root, #app {
  height: 100% !important;
  //position: absolute;
  //width: 100% !important;
}


#app, #panels {
  height: 100% !important;
}

body {
  height: 100%;
  overflow-x: hidden;
  font-style: $mainFont !important;
  background-color: $backgroundColor;
  position: relative;
  @include set-selection;
}

//a {
//  color: setColor(0);
//  text-decoration: none;
//  cursor: pointer;
//
//  &:link {
//    color: setColor(0) !important;
//    text-decoration: none !important;
//  }
//
//  &:visited {
//    color: setColor(0) !important;
//    text-decoration: none !important;
//  }
//
//  &:hover {
//    color: setColor(0) !important;
//    text-decoration: none !important;
//  }
//
//  &:active {
//    color: setColor(0) !important;
//    text-decoration: none !important;
//  }
//
//}

/* highlighting animation */

@keyframes focusOnLink {
  from {
    background-color: #fff;
  }

  to {
    background-color: setColor(9.5);
  }
}

@keyframes saturate {
  from {
    filter: grayscale(100%);
  }

  to {
    filter: grayscale(0%);
  }
}


a {

  text-decoration: none !important;
  color: setColor(3) !important;

  &:link {
    color: setColor(3) !important;
    text-decoration: none !important;
  }

  &:visited {
    color: setColor(3) !important;
    text-decoration: none !important;
  }

  &:hover {
    color: $mainColor;
    background-color: setColor(9.5) !important;
    text-decoration: none !important;
    animation-name: focusOnLink;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
  }

  &:focus {
    color: $mainColor !important;
    text-decoration: none !important;
  }

  &:active {
    color: $mainColor !important;
    text-decoration: none !important;
  }
}

.routerLink {
  text-decoration: none !important;
}

.small-text {
  font-size: 80%;
}


.activated-link {
  //font-weight: 600 !important;
  color: $mainColor !important;
  background-color: setColor(9.5);
}

#main-logo, #logo-navbar {
  @include grayscale;
  @include no-select;
}

iframe {
  @include grayscale;

  &:focus {
    -webkit-filter: grayscale(0%);
  }
}

//.dynamic-box {
//  @include animated-box;
//}

/*** SPINNER STYLES ***/
.loaderContainer {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.displayNone {
  display: none !important;
}

/*** SECTION-SPECIFIC STYLES ***/

/* NAVBAR */

#nav-links {
  margin-bottom: 20px;
}

.nav-section-name {
  padding: 10px 15px;
  color: setColor(4);
  font-size: 80%;
  margin-top: 20px;
}

/* link */
.navbar-default .navbar-nav > li > a {
  color: setColor(2);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: $mainColor;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: $mainColor;
  background-color: $backgroundColor;
}

/* mobile version */
.navbar-default .navbar-toggle {
  border-color: setColor(4);
}

.navbar-toggle {
  margin-top: 16px !important;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: setColor(4);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $mainColor;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: setColor(2);
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: $mainColor;
  }

  //hide menu panel on small screens
  #menu-panel {
    display: none;
  }
}

@media (min-width: 768px) {

  //hide navbar on large screens
  #top-navbar {
    display: none;
  }
}

#top-navbar {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 12px;
  border-bottom: $borderDefault !important;
  background-color: $backgroundColor !important;
  text-align: right;
}

/* MAIN CONTAINER */

#main-container {
  height: 100% !important;
  //min-height: 100% !important;
  //max-height: 100% !important;
  padding: 0 !important;

}

/* Menu panel */

#menu-panel {
  //border-right: $borderDefault;
  height: 100%;
  //width: 28%;
  min-width: 180px;
  //float: left;
  font-size: 130%;
  overflow-y: auto !important;
  overflow-x: hidden;
  text-align: center;
}

#main-logo {
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: -15px;
  width: 150px;
}

#menu-panel-text {
  text-align: left;
  display: inline-block;
}

#links {
  margin: 40px 0;
}

#footer {
  font-size: 100% !important;
}

.section-name {
  color: setColor(4);
  font-size: 80%;
  margin-top: 20px;
}

/* MAIN PANEL */

#main-panel {
  height: 100% !important;
  //width: 72%;
  //float: left;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
}

#main-panel-wrapper {
  height: 100vh !important;
}

//.hasBackground {
//  background-image: url("../../public/images/background.jpg");
//}

#splash-screen {
  //background-size: cover;
  //background-position: center center;
  //background-image: url("https://pl.wikipedia.org/wiki/Obelia#/media/File:Obelia_geniculata.jpg");
  //background-image: url(/public/images/background.jpg);
  //overflow: hidden;
  //padding: 0 !important;

  //background: url(/public/images/background.jpg) no-repeat center center fixed;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;
  //height: 100%;
  //overflow: hidden;

  width: 100%;
  height: 100vh;
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}


#splash-wrapper {
  height: 100vh;
  overflow: hidden;
}

#main-panel-container {
  height: 90% !important;
  width: 100% !important;
  position: relative;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
  padding-top: 40px !important;
}

#main-panel-footer {
  height: 10%;
  width: 100%;
  padding-top: 0 !important;
  padding-bottom: 20px !important;
  margin-top: 0 !important;
}

.pager {
  margin: 10px 15px !important;
}

/* VIEWS */

.view-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 !important;

  Image {
    object-fit: contain;
  }

}

//Title page
#title-box {
  text-align: center;
  padding: 20px;
  position: relative;
  margin: auto;
  line-height: 1.5em;
}

#title {
  font-size: 5vmax;
}

#subtitle {
  font-size: 1.5vmax;
  padding-left: 30%;
}

//Image pages
.gallery-image {
  max-width: 95%;
  max-height: 95%;
  margin: auto !important;
  display: block;
  //position: relative;
  @include saturate;
}

//Text pages
.text-note {
  width: 95%;
  max-height: 95%;
  margin: auto !important;
  display: block;
  overflow-y: auto;
  font-size:150%;

  table {
    margin: 40px auto;

    td {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  h1, h2 {
    margin-bottom: 40px;
    text-align: center;
  }

  p {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.wide-margins {
  margin-left: 25%;
  margin-right: 25%;
}

//.very-wide-margins {
//  margin-left: 30%;
//  margin-right: 30%;
//}

.centered {
  text-align: center;
}
.underlined {
  border-bottom: $borderContrast;
}

  //iframe {
//  @include saturate;
//}

//Video pages
.video-wrapper {
  width: 100%;
  position: relative;
  margin: auto;
}

//#iframe-wrapper {
//  position: absolute;
//  left: 0;
//  right: 0;
//  top: 50%;
//  margin-top: -28.1%;
//  /* video height / video width */
//  padding-bottom: 56.2%;
//  height: 0;
//  overflow: hidden;
//
//  iframe {
//    margin: 0 auto;
//    width: 100%;
//    height: 100%;
//    padding: 25px;
//    display: block;
//  }
//}
//
.iframe-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -28.1%;
  /* video height / video width */
  padding-bottom: 56.2%;
  height: 0;
  overflow: hidden;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
}

/* Text pages */
.text-note {
  border: $borderFancy;
  max-height: 95%;
  background: setColor(6.5);
  color: setColor(10);
  padding: 30px;
}

/* File pages */

.files-panel {

  h1 {
    margin-top: 20%;
    text-align: center;
    margin-bottom: 30px;
  }

  p {
    font-size: 110%;
    text-align: center;
    margin-bottom: 20px;
    i {
      font-size: 130%;
    }
  }

}

/* Pagers */

.pager li > a, .pager li > span {
  @include border-radius(0);
  @include no-select;
}