@import "variables";
@import "functions";
@import "mixins";

/*** GENERAL STYLES ***/

body {

}

a {
  color: setColor(0);
  text-decoration: none;
  cursor: pointer;

  &:link {
    color: setColor(0) !important;
    text-decoration: none !important;
  }

  &:visited {
    color: setColor(0) !important;
    text-decoration: none !important;
  }

  &:hover {
    color: setColor(0) !important;
    text-decoration: none !important;
  }

  &:active {
    color: setColor(0) !important;
    text-decoration: none !important;
  }

}

.routerLink {
  text-decoration: none !important;
}


.dynamic-box {
  @include animated-box;
}

/*** SPINNER STYLES ***/
.loaderContainer {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: center;
  justify-content: center;
  height: 100vh; }

.displayNone {
  display: none;
}